<div id="add_contact_form" class="modal hide fade" style="display:none;">
  <div class="modal-header"><%=t :add_contact%> </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label">
            <%=t :name, scope: [:activerecord, :models, :contact] %>
          </label>
          <div class="controls">
            <%= text_field_tag(:name, '', class: "input-xlarge", required: true) %>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            <%=t :job_title, scope: [:activerecord, :models, :contact] %>
          </label>
          <div class="controls">
            <%= text_field_tag(:job_title, '', class: "input-xlarge", required: true) %>
            <span class="help-inline"></span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">
            <%=t :email, scope: [:activerecord, :models, :contact] %>
          </label>
          <div class="controls">
            <%= email_field_tag(:email, '', class: "input-xlarge", required: true) %>
            <span class="help-inline"></span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">
            <%=t :phone, scope: [:activerecord, :models, :contact] %>
          </label>
          <div class="controls">
            <%= telephone_field_tag(:phone, '', class: "input-xlarge", required: true) %>
            <span class="help-inline"></span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">
            <%=t :division, scope: [:activerecord, :models, :contact] %>
          </label>
          <div class="controls">
            <%= text_field_tag(:division, '', class: "input-xlarge", required: true) %>
            <span class="help-inline"></span>
          </div>
        </div>
      </fieldset>
    </form>
    <hr>
    <div class="modal-footer">
      <button id="btn_save" class="btn btn-primary"><%=t :save%></button>
      <button id="btn_cancel" class="btn"><%=t :cancel%></button>
    </div>
  </div>
</div>
