<div id="add_contact_form" class="modal hide fade" style="display:none;">
  <div class="modal-header"><%=t :add_contact%> </div>
<div class="modal-body">
  <form class="form-horizontal">
    <fieldset>
  <div class="control-group">
  <label class="control-label">
    <%=t :name, scope: [:activerecord, :models, :contact] %>
  </label>
  <div class="controls">
    <%= text_field_tag(:name, '', class: "input-xlarge") %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%=t :email, scope: [:activerecord, :models, :contact] %>
  </label>
  <div class="controls">
    <%= email_field_tag(:email, '', class: "input-xlarge") %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%=t :phone, scope: [:activerecord, :models, :contact] %>
  </label>
  <div class="controls">
    <%= telephone_field_tag(:phone, '', class: "input-xlarge") %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%=t :division, scope: [:activerecord, :models, :contact] %>
  </label>
  <div class="controls">
    <%= text_field_tag(:division, '', class: "input-xlarge") %>
  </div>
</div>
</fieldset>
</form>
<hr>
<div class="modal-footer">
  <button class="btn btn-primary"><%=t :save%></button>
  <button class="btn"><%=t :cancel%></button>
</div>
</div>
</div>
