<%= form_for @client, :html => { class: 'form-horizontal' } do |f| %>
  <% unless @client.new_record? %> 
    <% if @client.user %>
      <%= gravatar_for @client.user.email, size: 48, style: 'position:absolute;' %>
    <% end %>
    <%=link_to(client_path(@client), method: :delete, confirm: I18n.t(:confirm_delete_client), class: 'btn btn-danger pull-right') do%> 
      <i class="icon-trash icon-white"></i>
    <% end %>
  <% end %>

  <div class="control-group extended-edit">
    <label class="control-label" for="name">
      <%=t :user, scope: [:activerecord, :models, :client]%>
    </label>
    <div class="controls">
      <%= collection_select(:client, :user_id, User.all, :id, :name) %>
    </div>
  </div>

  <div class="control-group ">
    <label class="control-label" for="client_name">
      <%=t :name, scope: [:activerecord, :models, :client]%>
    </label>
    <div class="controls">
      <%= f.text_field(:name, class: "input-xxlarge disabled", disabled: :disabled) %>
      <div style="display: inline-block">
        <a href="#" class="btn form-edit-link"><i class="icon-edit"></i></a>
      </div>
    </div>
  </div>

  <div class="control-group extended-edit">
    <label class="control-label" for="client_local_name">
      <%=t :local_name, scope: [:activerecord, :models, :client]%>
    </label>
    <div class="controls">
      <%= f.text_field(:local_name, class: "input-xxlarge") %>
    </div>
  </div>

  <div class="control-group extended-edit">
    <label class="control-label" for="contacts">
      <%=t :contacts, scope: [:activerecord, :models, :client]%>
      <span class="btn" id="add_contact"><i class="icon-plus"></i></span>
    </label>
    <div class="controls">
      <div id="contacts">
        <%= render @client.contacts %>
      </div>
    </div>
  </div>
  <div class="control-group extended-edit">
    <label class="control-label" for="billing_addresses">
      <%=t :billing_addresses, scope: [:activerecord, :models, :client]%>
      <span class="btn" id="add_billing_address"><i class="icon-plus"></i></span>
    </label>
    <div class="controls">
      <div id="billing_addresses">
        <%= render @client.billing_addresses %>
      </div>
    </div>
  </div>

  <div class="control-group extended-edit">
    <label class="control-label" for="accounting_code">
      <%=t :accounting_code, scope: [:activerecord, :models, :client]%>
    </label>
    <div class="controls">
      <%= f.text_field(:accounting_code, class: 'input-small')%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="memo">
      <%=t :memo, scope: [:activerecord, :models, :memo]%>
    </label>
    <div class="controls">
      <%= f.text_area(:memo, :rows => 10, class: "input-xxlarge disabled", disabled: :disabled) %>
    </div>
  </div>

  <div class="form-actions extended-edit">
    <button type="submit" id="save_client" class="btn"><%=t :save%></button>
  </div>

<% end %>
  <%= render 'add_contact' %>
  <%= render 'contacts/contact', contact: Contact.new, hidden: true %>
  <%= render 'add_billing_address' %>
  <%= render 'billing_addresses/billing_address', billing_address: BillingAddress.new, hidden: true %>
<%= javascript_include_tag "clients" %>
  <script type="text/javascript">
    // TODO git this out of the view and include it when you need it
</script>
