<div class="well">
  <%= form_for @client, :url => { action: :create }, :html => { class: 'form-horizontal' } do |f| %>
    <legend>Congradulations on your new client!<p>Fill in the fields below to register them in the system.</p></legend>
    <div class="control-group">
      <label class="control-label" for="name">
        <%=t :name, scope: [:activerecord, :models, :client]%>
      </label>
      <div class="controls">
        <%= f.text_field(:name, class: "input-large") %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="local_name">
        <%=t :local_name, scope: [:activerecord, :models, :client]%>
      </label>
      <div class="controls">
        <%= f.text_field(:local_name, class: "input-large") %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="contacts">
        <%=t :contacts, scope: [:activerecord, :models, :client]%>
      </label>
      <div class="controls">
        <!-- NOTE: for every created and contact add in hidden inputs 
        client[contacts][][name]
        client[contacts][][email]
        client[contacts][][division]
        client[contacts][][phone]
        and push the name into a li
        -->
        <ul id="contacts" class="unstyled">
        </ul>
        <span class="btn" id="add_contact"><i class="icon-plus"></i></span>
        <a class="btn" id="remove_contact" href="#"><i class="icon-minus"></i></a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="accounting_code">
        <%=t :accounting_code, scope: [:activerecord, :models, :client]%>
      </label>
      <div class="controls">
        <input type="hidden" id="accounting_code">
        <a class="btn"><%=t :create_accounting_code, scope: [:actions, :client] %></a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="memo">
        <%=t :memo, scope: [:activerecord, :models, :memo]%>
      </label>
      <div class="controls">
        <%= f.text_area(:memo, size: '80X40', class: "input-large") %>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn"><%=t :save%></button>
    </div>

    <% end %>
  </div>
</div>
<%= render 'add_contact' %>

<script type="text/javascript">
  $(document).ready(function() {
      $('#add_contact').click(function() {
        $('#add_contact_form').modal()
        });
      });
  var client =  {
                  add_contact : function(contact_info) {
                                  for(var x in contact_info) {
                                    var input_html = ['<input type="hidden" name="client[contacts][][',x,']" value="',contact_info[x], '">'].join('');
                                    $('#contacts').parent().append(input_html);
                                  }
                                  $('#contacts').append(['<li>', contact_info.name, '</li>'].join(''))
                  }
  }    
</script>
