<%= form_for(@work_order, html: { class: 'form-horizontal' }) do |f| %>
  <div class='row-fluid'> 
    <div class="span3">
      <label class="control-label" for="client">
        <%= t :client, scope: [:activerecord, :models, :work_order] %>
      </label>
      <div class="controls">
        <%= collection_select(:work_order, :client_id, Client.all, :id, :name, prompt: t(:select_client)) %>
      </div>
    </div>
    <div class="span3">
      <label class="control-label" for="client">
        <%= t :owner, scope: [:activerecord, :models, :work_order] %>
      </label>
      <div class="controls">
        <%= collection_select(:work_order, :owner_id, User.all, :id, :name) %>
      </div>
    </div>
    <div class="span3">
      <label class="control-label" for="author">
        <%= t :author, scope: [:activerecord, :models, :work_order] %>
      </label>
      <div class="controls">
        <%= collection_select(:work_order, :author_id, User.all, :id, :name, html: { disabled: :disabled }) %>
      </div>
    </div>
    <div class="span3">
      <label class="control-label" for="created">
        <%= t :created, scope: [:activerecord, :models, :work_order] %>
      </label>
      <div class="controls">
        <input type="text" class="input-medium" value="<%= @work_order.created_at || Time.now.strftime('%Y-%m-%d %H:%M') %>" readonly></input>
      </div>
    </div>
    <!--    <div class="span2">
      <label class="control-label" for="updated">
        <%= t :updated, scope: [:activerecord, :models, :work_order] %>
      </label>
      <div class="controls">
        <input type="text" value="<%= @work_order.updated_at || Time.now.strftime('%Y-%m-%d %H:%M') %>" readonly></input>
      </div>
    </div>
    -->
  </div>
  <br>




  <div class="row-fluid">
    <div class="span7">
      <label class="control-label">
        <%= t :client_memo %>
      </label>
      <div class="controls">
      <textarea class="span12" rows="6" id="client_memo" readonly><%= @work_order.client ? @work_order.client.memo : '' %></textarea>
      </div>
      <br>
      <label class="control-label" for="memo">
        <%= t :memo, scope: [:activerecord, :models, :work_order] %>
      </label>
      <div class="controls">
        <%= f.text_area(:memo, rows: 6, class: "span12") %>
      </div> 
    </div> 

    <div class="span5"> 

      <ul class="nav nav-tabs" id="payment_tabs">
        <li class="active"><a href="#payment_info" data-toggle="tab">Payment</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="payment_info">
                  <%= render 'payments/form', form: f %>          
        </div>

      </div>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= javascript_include_tag "work_orders" %>

<script type="text/javascript">
  $('#payment_deadline').datepicker()
  $('#paid_on_date_picker').datepicker()
  $('#payment_tabs a:first').tab('show')
</script>
<%= render 'clients/add_billing_address' %>
