<%
    #  @param items [Array] The list of items to render
  #  @param list_label [String] The label for the list (e.g. what are these things?)
  #  @param item_label [Proc|Lambda] A funtion that takes an item and returns the display name in the list.
%>
<div class="span3">
  <div class="well sidebar-nav">
    <input class="input-medium search-query search" type="text" placeholder="<%= I18n.t(:search)%>"/>
    <label class="checkbox">
      <% if params[:alternate] == "1" %>
        <%= link_to default_label, request.path %>
      <% else %>
        <%= link_to alternate_label, alternate_path %>
      <% end %> 
    </label>
    <hr>
    <ul class="nav nav-list">
      <li class="nav-header"><%= list_label %></li>
      <%if items.size > 0 %>
        <% items.each do |item|%>
          <li class="searchable-item"><%= link_to item_label.call(item), item%></li>
        <% end %>
      <% else %>
        <%= I18n.t :no_data %>
      <% end %>
    </ul>
  </div>
  <script>
    $('document').ready(function() {
      ReductiveSearch.init( { input: '.search', target: '.searchable-item'} );
    })
  </script>
</div>
